
/* all content here is the external css */

:root {
    --poppins: 'Poppins'sans-serif;
    --vibes: 'Great Vibes', sans-serif;
    --allura: 'Allura', sans-serif;
    --lobster: 'Lobster', sans-serif;
    --cinzel: 'Cinzel', sans-serif;
    --raj: 'Rajdhani', sans-serif;
    --herr: 'Herr Von Muellerhoff', cursive;
    --cabin: 'Cabin', sans-serif;
    --theme: orange;
    --themeLite: rgb(220, 20, 60, 0.6);
    --whiteLite: rgb(255, 255, 255, .5);
    --darkLite: rgb(0,0,0, .8);
    --black: black;
    --white: white;
    --dark: #252525;
    --lighterdark: #6A6671;
}
/* rootkit is a set of variables that will make work easy when calling your values below */

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}
body {
    font-family: var(--raj);
}

nav {
    background: var(--theme);
    height: 80px;
    width: 100%;
}

label.logo {
    color: var(--white);
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
label.logo a{
	color: var(--white);
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: var(--white);
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    transition: color .3s ease;
    font-weight: 600;
}

nav ul li a:hover {
    color: var(--black);
}

a.active {}

.checkbtn {
    font-size: 30px;
    color: var(--white);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

section {
    background: url('../images/extraYork.jpg')no-repeat;
    background-size: cover;
    background-position: center;
    height: calc(100vh - 80px);

}

.container {
    width: 100%;
    max-width: 122.5rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}

.h1 {
    text-shadow: 2px 2px 4px #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    font-weight: 500;
    font-size: 100px;
    font-family: var(--herr);
    color: var(--theme);
}


/* about section */
#about {
    width: 100%;
    height: 350px;
    background: var(--white);
}

#about .container {
    padding: 20px 10px;
}

/* s.o.t is statue of liberty */
#about .container .s-o-t {
    width: 50%;
    float: left;
}

#about .container .s-o-t h2 {
    font-family: var(--vibes);
    font-size: 80px;
    font-weight: lighter;
    color: var(--theme);
}

#about .container .s-o-t p {
    font-size: 20px;
}

#about .container .s-o-t img {
    box-shadow: 4px 4px 4px var(--theme);
    border-radius: 5px;

}

/* end of about section */
/* more section */
#more {
    background: url('../images/statueOfLiberty3.jpg')no-repeat;
    object-fit: contain;
    background-position: bottom;
}

#more .container {
    padding-top: 90px;
}

#more .container .tripple-info{
    left: 40%;
    margin: 10px;
    border: .3px solid var(--theme);
    float: left;
    width: 400px;
    height: 400px;
    background: var(--darkLite);
    border-radius: 5px;
    box-shadow: 4px 4px 4px var(--theme);
}

#more .container .tripple-info p {
    color: var(--white);
    padding: 5px 25px;
    line-height: 20px;
    font-size: 20px;
}

.tripple-info .button{
    text-align: center;
}

.tripple-info h2{
	padding-top: 5px;
	font-family: var(--vibes);
	font-size: 50px;
	text-align: center;
	color: var(--theme);
	font-weight: lighter;
}


.tripple-info a{
    display: inline-block;
    font-size: 20px;
    letter-spacing: 1px;
    text-decoration: none;
    color: white;
    background-color: var(--theme);
    padding: 1rem 4rem;
    text-transform: uppercase;
    border-radius: .4rem;
    box-shadow: 3px 3px 1rem rgba(0, 0, 0, .3);
    transition: all 0.5s ease;
}

footer {
    background: var(--dark);
    padding: 20px 23px;
    color: var(--white);
    resize: none;
}
footer span a {
    color: var(--theme);
    resize: none;
}

@media (max-width: 1024px){
}


@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }

    .h1 {
        font-size: 80px;
    }

    #about {
        width: 100%;
        height: 700px;
        background: var(--white);
    }

    #about .container .s-o-t {
        width: 100%;
        float: none;
    }

    #about .container .s-o-t h2 {
        font-size: 40px;
    }

    #about .container .s-o-t p {
        font-size: 16px;
    }
    #more .container .tripple-info{
    	width: 100%;
    	height: auto;
    	padding-bottom: 10px;
    }
    #more .container .tripple-info p{
    	font-size: 16px;
    	line-height: 15px;
    }
    .tripple-info a{
    top: 2px;
    left: 70px;
    display: inline-block;
    font-size: 18px;
    padding: 10px 9px;
    transition: all 0.5s ease;
}
#more{
    height: 900px;
}

}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    ul {
        z-index: 9999;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--dark);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s ease;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    nav ul li a:hover {
        color: var(--theme);
    }

    .h1 {
        font-size: 60px;
    }

    #about {
        width: 100%;
        height: auto;
        background: var(--white);
    }

    #about .container .s-o-t {
        width: 100%;
        float: none;
    }

    #about .container .s-o-t img {
        width: 100%;
        height: auto;
    }

    #about .container .s-o-t h2 {
        font-size: 40px;
    }

    #about .container .s-o-t p {
        font-size: 18px;
    }

    #more .container .tripple-info{
        margin-top: 2px;
    	width: 100%;
    	height: auto;
    	float: top;
    }
    #more .container .tripple-info p{
    	font-size: 16px;
    	line-height: 15px;
    }
    .tripple-info a{
    top: 2px;
    left: inherit;
    display: inline-block;
    font-size: 16px;
    padding: 10px 9px;
    transition: all 0.5s ease;
}

    a:hover,
    a.active {
        background: none;
        color: var(--theme);
    }

    #check:checked~ul {
        left: 0;
    }
}