:root{
	--poppins: 'Poppins'sans-serif;
	--vibes: 'Great Vibes', sans-serif;
	--allura: 'Allura', sans-serif;
	--lobster: 'Lobster', sans-serif;
	--cinzel: 'Cinzel', sans-serif;
	--raj: 'Rajdhani', sans-serif;
	--herr: 'Herr Von Muellerhoff', cursive;
    --cabin: 'Cabin', sans-serif;
	--theme: orange;
	--black: black;
	--white: white;
	--dark: #252525;
}
*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body{
	font-family: var(--raj);
}
nav{
	background: var(--theme);
	height: 80px;
	width: 100%;
}
label.logo{
	color: var(--white);
	font-size: 35px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
}
label.logo a{
	color: var(--white);
}

nav ul{
	float: right;
	margin-right: 20px;
}

nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}

nav ul li a{
	color: var(--white);
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
	transition: color .3s ease;
	font-weight: 600;
}
nav ul li a:hover{
	color: var(--black);
}

a.active{

}

.checkbtn{
	font-size: 30px;
	color: var(--white);
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}

#check{
	display: none;
}

.intro{
	background: url('../images/Brooklyn-nyc1.jpg')no-repeat;
	background-size: cover;
	background-position: center;
	height: calc(90vh - 10px);
}

.container {
    width: 100%;
    max-width: 122.5rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}
.h1{
    text-shadow: 2px 2px 4px #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    font-weight: 500;
    font-size: 100px;
    font-family: var(--herr);
    color: var(--theme);
}
/* youtube video start */
.video{
	background: var(--dark);
	height: 350px;
}

.video .container{
	padding: 20px 10px;
}

.video .youtube{
	float: left;
	width: 50%;
}

.youtube iframe{
	border-radius: 5px;
}

.youtube .title{
	text-align: center;
	font-family: var(--vibes);
	font-size: 60px;
	font-weight: lighter;
	color: var(--theme);
}

.youtube p{
	font-size: 20px;
	color: var(--white);
}
/* youtube video end */
/* statue of liberty start */

.statue{
	background: var(--white);
	height: 350px;
}

.statue .container{
	padding: 20px 10px;
}

.statue img{
	height: 310px;
	width: 600px;
	object-fit: cover;
	border-radius: 5px;
}

.statue .statue-ol{
	float: left;
	width: 50%;
}

.statue .title{
	text-align: center;
	font-family: var(--vibes);
	font-size: 60px;
	font-weight: lighter;
	color: var(--theme);
}

.statue p{
	font-size: 20px;
	color: var(--dark);
}
/* end of statue of liberty */
/* start of empire state */
.empire-state{
	background: var(--theme);
	height: 350px;
}

.empire-state .container{
	padding: 20px 10px;
}

.empire-state img{
	height: 310px;
	width: 600px;
	object-fit: cover;
	border-radius: 5px;
}

.empire-state .empire{
	float: left;
	width: 50%;
}

.empire-state .title{
	text-align: center;
	font-family: var(--vibes);
	font-size: 60px;
	font-weight: lighter;
	color: var(--white);
}

.empire p{
	font-size: 20px;
	color: var(--dark);
}
/* end of empire state */
/* start of brooklyn bridge */
.brooklyn-bridge{
	background: var(--dark);
	height: 350px;
}
.brooklyn-bridge .container{
	padding: 20px 10px;
}

.brooklyn-bridge img{
	height: 310px;
	width: 600px;
	object-fit: cover;
	border-radius: 5px;
}

.brooklyn-bridge .brooklyn{
	float: left;
	width: 50%;
}

.brooklyn .title{
	text-align: center;
	font-family: var(--vibes);
	font-size: 60px;
	font-weight: lighter;
	color: var(--white);
}

.brooklyn p{
	font-size: 20px;
	color: var(--theme);
}
/* brooklyn section ended */
/* start of central park */
.central-park{
	background: var(--white);
	height: 350px;
}

.central-park .container{
	padding: 20px 10px;
}

.central-park img{
	height: 310px;
	width: 600px;
	object-fit: cover;
	border-radius: 5px;
}

.central-park .central{
	float: left;
	width: 50%;
}

.central .title{
	text-align: center;
	font-family: var(--vibes);
	font-size: 60px;
	font-weight: lighter;
	color: var(--dark);
}

.central p{
	font-size: 20px;
	color: var(--theme);
	font-weight: 500;
}


footer{
	background: var(--dark);
	padding: 20px 23px;
	color: var(--white);
	resize: none;
}

footer span a{
	color: var(--theme);
	resize: none;
}




@media (max-width: 952px){
	label.logo{
		font-size: 30px;
		padding-left: 50px;
	}
	nav ul li a{
		font-size: 16px;
	}
	.h1{
		font-size: 80px;
	}
	.container a{
    top: 360px;
    left: 20%;
}
.h1{
    top: 40%;
    left: 50%;
    }

    .video .youtube{
	float: none;
	width: 100%;
}
.video{
	height: auto;
}
.youtube iframe{
	height: 250px;
	width: 100%;
}
.youtube .title{
	font-size: 40px;
}

.youtube p{
	font-size: 16px;
}
.statue{
	height: auto;
}

.statue img{
	height: 200px;
	width: 100%;
}

.statue .statue-ol{
	float: none;
	width: 100%;
}

.statue .title{
	font-size: 40px;
}

.statue p{
	font-size: 16px;
}
.empire-state{
	height: auto;
}

.empire-state .container{
	padding: 20px 10px;
}

.empire-state img{
	height: 200px;
	width: 100%;
}

.empire-state .empire{
	float: none;
	width: 100%;
}

.empire-state .title{
	font-size: 40px;
}

.empire p{
	font-size: 16px;
}
.brooklyn-bridge{
	height: auto;
}

.brooklyn-bridge img{
	height: auto;
	width: 100%;
}

.brooklyn-bridge .brooklyn{
	float: none;
	width: 100%;
}

.brooklyn .title{
	font-size: 40px;
}

.brooklyn p{
	font-size: 16px;
}
.central-park{
	height: auto;
}

.central-park img{
	height: auto;
	width: 100%;
}

.central-park .central{
	float: none;
	width: 100%;
}

.central .title{
	font-size: 40px;
}

.central p{
	font-size: 16px;
	font-weight: 500;
}
}
@media (max-width: 858px){
	.checkbtn{
		display:block;
	}
	ul{
		z-index: 9999;
		position: fixed;
		width: 100%;
		height: 100vh;
		background: var(--dark);
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s ease;
	}
	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul li a{
		font-size: 20px;
	}

	nav ul li a:hover{
		color: var(--theme);
	}

	.h1{
    text-shadow: 2px 2px 4px #000000;
    position: absolute;
    font-size: 60px;
    top: 40%;
    left: 50%;
}
	a:hover,a.active{
		background: none;
		color: var(--theme);
	}
	#check:checked ~ ul{
		left: 0;
	}
	.container a{
    top: 360px;
    left: 20%;
}
}