:root{
	--poppins: 'Poppins'sans-serif;
	--vibes: 'Great Vibes', sans-serif;
	--allura: 'Allura', sans-serif;
	--lobster: 'Lobster', sans-serif;
	--cinzel: 'Cinzel', sans-serif;
	--raj: 'Rajdhani', sans-serif;
	--herr: 'Herr Von Muellerhoff', cursive;
    --cabin: 'Cabin', sans-serif;
	--theme: orange;
	--black: black;
	--white: white;
	--dark: #252525;
}
*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body{
	font-family: var(--raj);
}
nav{
	background: var(--theme);
	height: 80px;
	width: 100%;
}
label.logo{
	color: var(--white);
	font-size: 35px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
}
label.logo a{
	color: var(--white);
}

nav ul{
	float: right;
	margin-right: 20px;
}

nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}

nav ul li a{
	color: var(--white);
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
	transition: color .3s ease;
	font-weight: 600;
}
nav ul li a:hover{
	color: var(--black);
}

a.active{

}

.checkbtn{
	font-size: 30px;
	color: var(--white);
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}

#check{
	display: none;
}

section{
	background: url('../images/mainYork4.jpg')no-repeat;
	background-size: cover;
	background-position: center;
	height: calc(100vh - 80px);

}

.container {
    width: 100%;
    max-width: 122.5rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}
.h1{
    text-shadow: 2px 2px 4px #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    font-weight: 500;
    font-size: 100px;
    font-family: var(--herr);
    color: var(--theme);
}

.container a{
    position: absolute;
    top: 360px;
    left: 43%;
    display: inline-block;
    font-size: 20px;
    letter-spacing: 1px;
    text-decoration: none;
    color: white;
    background-color: var(--theme);
    padding: 1rem 4rem;
    text-transform: uppercase;
    border-radius: .4rem;
    box-shadow: 3px 3px 1rem rgba(0, 0, 0, .3);
    position: relative;
    transition: all 0.5s ease;
}
footer{
	background: var(--dark);
	padding: 20px 23px;
	color: var(--white);
	resize: none;
}

footer span a{
	color: var(--theme);
	resize: none;
}




@media (max-width: 952px){
	label.logo{
		font-size: 30px;
		padding-left: 50px;
	}
	nav ul li a{
		font-size: 16px;
	}
	.h1{
		font-size: 80px;
	}
	.container a{
    top: 360px;
    left: 20%;
}
.h1{
    top: 40%;
    left: 50%;
    }
}
@media (max-width: 858px){
	.checkbtn{
		display:block;
	}
	ul{
		z-index: 9999;
		position: fixed;
		width: 100%;
		height: 100vh;
		background: var(--dark);
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s ease;
	}
	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul li a{
		font-size: 20px;
	}

	nav ul li a:hover{
		color: var(--theme);
	}

	.h1{
    text-shadow: 2px 2px 4px #000000;
    position: absolute;
    font-size: 60px;
    top: 40%;
    left: 50%;
}
	a:hover,a.active{
		background: none;
		color: var(--theme);
	}
	#check:checked ~ ul{
		left: 0;
	}
	.container a{
    top: 360px;
    left: 20%;
}
}